<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">{{ title }}</a>
  </span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a href="https://tanepiper.github.io/ngx-tinynodes/" target="_new">
          <span class="label">Docs</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/tanepiper/ngx-tinynodes" target="_new">
          <span class="label">Github</span>
        </a>
      </li>
      <li>
        <a href="https://www.npmjs.com/org/tinynodes" target="_new">
          <span class="label">NPM</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
